[submodule "epics/base"]
	path = epics/base
	url = https://github.com/epics-base/epics-base.git
[submodule "epics/modules/asyn"]
	path = epics/modules/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "epics/modules/motor"]
	path = epics/modules/motor
	url = https://github.com/europeanspallationsource/motor.git
