[submodule "epics/base"]
	path = epics/base
	url = https://github.com/epics-base/epics-base.git
[submodule "epics/modules/asyn"]
	path = epics/modules/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "epics/modules/motor"]
	path = epics/modules/motor
	url = https://github.com/europeanspallationsource/motor.git
[submodule "epics/modules/calc"]
	path = epics/modules/calc
	url = https://github.com/epics-modules/calc.git
[submodule "epics/modules/ads"]
	path = epics/modules/ads
	url = git@bitbucket.org:europeanspallationsource/m-epics-twincat-ads.git
[submodule "epics/modules/StreamDevice"]
	path = epics/modules/StreamDevice
	url = https://github.com/paulscherrerinstitute/StreamDevice.git
[submodule "epics/modules/EthercatMC"]
	path = epics/modules/EthercatMC
	url = https://github.com/europeanspallationsource/m-epics-EthercatMC.git
